body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    color: hsl(219, 14%, 63%);
    background-color: hsl(210, 60%, 98%);
}

.main{
    /* border: 5px solid black; */
    width: 700px;
    height: fit-contents;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
}

.container{
    /* border: 5px solid black; */
    margin: 25px 25px 0 25px;
}
p{
    margin: 0px;
}




/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* border: 2px solid red; */
    padding: 15px;
    margin-bottom: 10px;
}

.notify{
    /* margin-right: ; */
    font-size: 1.5rem;
    color: hsl(224, 21%, 14%);
}
.count{
    display: inline-block;
    margin-left: 1rem;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    color: white;
    background-color: hsl(219, 85%, 26%);
    width: 2rem;
    text-align: center;
}
.mark:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}



.notification{
    /* border: 2px solid red; */
    color: hsl(219, 12%, 42%);
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notification:hover, .message:hover {
    background-color:  hsl(211, 68%, 94%);
}
.message{
    border: 1px solid hsl(211, 68%, 94%);
    margin: -20px 15px 0px 65px;
    margin-top: -20px;
    /* padding-top: 0px; */
    color: hsl(218, 8%, 28%);
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}


img{
    height: 2.5rem;
    margin-right: 10px;
}
.name{
    color: hsl(224, 21%, 14%);
}

.time{
    margin: 0px;
    color: hsl(219, 14%, 63%);
}

span{
    font-weight: 800;
}
span:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}


.circle{
    display: inline-block;
    margin-left: 0.5rem;
    border: 2px solid red;
    background-color: red;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 1rem;
}
.unread {
    background-color: hsl(210, 60%, 98%);
}

.displayNone{
    display: none;
}